# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore ruff cache
backend\.ruff_cache

# Ignore virtual environments
myenv/

# Ignore environment variables file
backend/.env

# Ignore data folder
backend/writing/data/

# Ignore Neo4j folder
data/
