# === Python cache files ===
__pycache__/
*.py[cod]
*.so
*.pyd

# === Ruff cache ===
backend/.ruff_cache/

# === Virtual environments ===
myenv/
venv/
.env/

# === Environment variables ===
*.env
backend/.env
frontend/my-app/.env.*
!.env.example

# === Data folders ===
data/
backend/app/data/
!backend/app/mlops/data/
!backend/app/mlops/data/**

# === Logs and temp files ===
*.log
*.tmp
*.bak

# === VSCode settings ===
.vscode/

# === OS-specific files ===
.DS_Store
Thumbs.db

# === Node.js ===
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Build output ===
dist/
build/
frontend/my-app/build/
frontend/my-app/.next/

# === Coverage reports ===
coverage/
*.cover
*.coverage
*.lcov

# === PyInstaller ===
*.spec

# === Jupyter Notebook checkpoints ===
.ipynb_checkpoints/

# === Others ===
.idea/
backend/app/mlops/evaluation/GrammarTestset.csv
backend/test.py